<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Tarea</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" th:href="@{/css/addNote.css}">
</head>

<body>
    <div class="form-container">
        <h1>Crear Nueva Tarea</h1>
        <form th:action="@{/to-do-list/crear}" method="POST" onsubmit="return validarTarea(event)">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" th:value="${tarea.nombre}" required>
            </div>

            <div class="form-group">
                <label for="contenido">Contenido</label>
                <textarea id="contenido" name="contenido" rows="4" th:value="${tarea.contenido}" required></textarea>
            </div>

            <div class="form-group">
                <label for="comentarios">Comentarios</label>
                <textarea id="comentarios" name="comentarios" rows="4" th:value="${tarea.comentarios}" required></textarea>
            </div>

            <button type="submit">Crear Tarea</button>
        </form>

        <div class="message">
            <a href="/to-do-list">Volver a la lista de tareas</a>
        </div>
    </div>

    <script>
        //Comprobar si el nombre de la tarea ya existe, y pedir confirmacion al usuario para reemplazarlo
        async function validarTarea(event) {
            event.preventDefault(); //esperar a validacion para enviar el formulario
        
            let nombreTarea = document.getElementById("nombre").value;
            
            if (!nombreTarea) {
                alert("El nombre de la tarea no puede estar vacío.");
                return false;
            }
        
            //consultar tarea ya existente
            let response = await fetch(`/to-do-list/check/${nombreTarea}`);
            let existe = await response.json();
        
            if (existe) {
                let confirmar = confirm("Ya existe una tarea con este nombre. ¿Deseas reemplazarla?");
                if (!confirmar) {
                    return false; 
                }
            }
        
            event.target.submit();
        }
        </script>
</body>
</html>
